<footer class="footer">
  <div class="footer-links">
    <div class="footer-block contact-info">
        <h4>Contact</h4>
        <p>p: 714 363 2625</p>
        <p>e: jason.tran@berkeley.edu</p>
    </div>
    <div class="footer-block project">
        <h4>Plan a project</h4>
        <p>Do you have a project in mind? Click here to contact me!</p>
    </div>
    <div class="footer-block narcissism">
        <h4>About Me:</h4>
        <p>This is me. I graduated from UC Berkeley and studied the process of genetic evolution (phylogenetics).</a></p>
        <img class="my-face" src="{{assets}}/images/me.png" alt="my face - sorry for the poor quality">
    </div>

    <div class="footer-block social">
        <ul>
            <li><a href="#"><i class="fa fa-twitter"></i>   Twitter</a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i>   Google Plus</a></li>
            <li><a href="#"><i class="fa fa-github"></i>   Github</a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i>   Dribbble</a></li>
        </ul>
    </div>

  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-24401949-2', 'auto');
  ga('send', 'pageview');

</script>
