<header>
  <div class="top-header">
        <div class="logo-block">
            <h1 id="logo"><a href="#" title="Back to home page">JLT</a></h1>
        </div>
        <div class="nav-block">
            <ul class="social-media">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>

            <nav>
                <a href="#">blog</a>
                <a href="#">work</a>
                <a href="#">data</a>
                <a href="#">about</a>
            </nav>
        </div>
  </div>
</header>