<header>
   <div class="header-container">
        <!--<h1>Site Title</h1>-->
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos culpa assumenda fugit, voluptatem enim eaque cum nam omnis, officiis, at dicta esse distinctio. Voluptate illum quia, assumenda eum quod, quidem vel aut autem ea libero saepe nisi dolorum repellat totam ipsum alias est dignissimos consectetur sint reiciendis nemo! Voluptatum ab sit neque, pariatur illum? Veniam nemo fugit distinctio explicabo, quaerat a. Omnis pariatur explicabo ipsam iusto veritatis doloribus, ullam quaerat excepturi. Eius, atque, placeat. Voluptate neque suscipit consequuntur, facilis rem sit quia, repudiandae maiores cupiditate rerum hic officiis. Sit tempora repudiandae, maxime? Ad quis, dignissimos delectus, accusantium obcaecati molestias explicabo? Enim numquam aliquid sequi, deserunt, voluptate temporibus animi ea. Cumque.
    </div>

</header>