<div id="sidebar" class="container">
    <div class="row">
        <div id="logo">
            <h1>RANDOM</h1>
            <h1>TEXT</h1>
        </div>
    </div>
   
    <hr>
    
    <div id="site-slug">
        <p>A personal website of Jason Tran</p>
    </div>
    
    <div class="row">
        <div class="twelve columns">
            <ul class="nav"> 
                <li class="category">Website</li>
                <li><a href="#">01 blog</a></li>
                <li><a href="#">02 work</a></li>
                <li><a href="#">03 data</a></li>
                <li><a href="#">04 about</a></li>
            </ul>
        </div>
    </div>
    
    <div class="social"> 
        <hr>
        <h3>03/07</h3>
        <span>||||||</span><span style="opacity: 0.33">||||||||</span>
        <hr>  
        <ul>
            <li><a href="http://www.github.com/jltran"><i class="fa fa-github-square fa-3x"></i></a></li>
            <li><a href="http://www.facebook.com/jasontran6"><i class="fa fa-facebook-square fa-3x"></i></a></li>
            <li><a href="http://www.google.com"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
            <li><a href="http://www.twitter.com/zjodak"><i class="fa fa-twitter-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-share-alt-square fa-3x"></i></a></li>
        </ul>
    </div>
</div>