---
title: work
lead: Jason Tran
---

<div class="entire-page">
    <div class="work-grid">
           {{#each projects.work-proj}}
            <a href="{{this.link}}">
                <div class="project-box" style="background-image: url('../assets/images/{{this.image}}'); background-size: cover;">
                    <div class="project-content">
                        <h4>{{this.label}}</h4>
                    </div>
                </div>
            </a>
            {{/each}}
    </div>
    
</div>