{{>_site-head}}
  <body>
    {{> _header}}
    <main id="main" role="main">
        
        <div class="content">
          {{> body }}
        </div>
        {{> _footer}}
    </main>

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>