<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Lato:700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{assets}}/css/main.css">

  </head>
  <body>
    
    <main id="main" role="main">
        {{> _header}}
        {{> _sidebar}}
        <div class="content">
            {{> body }}
        </div>
    </main>

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>